.page-container {
  .book-list {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin: 0 90px;

    .book-container {
      display: flex;
      margin: 30px;

      .book-cover {
        margin: 5px 0px 5px 0px;
        z-index: 2;
        img {
          width: 150px;
          height: 215px;
        }
      }

      .book-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        padding: 5px 30px;
        margin: 5px 5px 5px 0px;

        .title {
          font-size: 1.5em;
          font-weight: bold;
        }

        .subtitle {
          color: rgba(49, 49, 49, 0.5);
        }

        .description {
          line-height: 2;
        }

        .title,
        .subtitle,
        .description {
          margin: 5px;
        }

        &:hover {
          transition: 0.25s;
          background: white;
          box-shadow: -1px 1px 1px 1px rgba(210, 214, 213, 0.5);
          border-radius: 3px;
        }
      }
    }
  }
}

@media screen and (max-width: 1148px) {
  .page-container {
    .book-list {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin: 0;

      .book-container {
        display: flex;
        margin: 30px;

        .book-info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          text-align: left;
          padding: 5px 30px;
          margin: 5px 5px 5px 0px;
        }
      }
    }
  }
}