$header-background: #f7f6f0;

.header {
  background: $header-background;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 35px 0 35px;
  justify-content: space-between;
  height: 64px;
  width: 100%;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2%);

  h1 {
    margin: 0;
  }

  .leftSideNavigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    img{
      margin: 0 15px;
    }
  }

  .rightSideNavigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    img{
      margin: 0 15px;
    }
  }

  .link {
    color: black;
    text-decoration: none;

    &:hover {
      color: grey;
      transition: 250ms;
    }
  }
}
